* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  scroll-behavior: smooth;
}

:root {
  --main-bg-color: #f7f2e8;
  --main-text-color-900: #000000;
  --main-text-color-800: #1a1a1a;
  --main-text-color-700: #222222;
  --main-text-color-600: #282828;
  --main-heading-color: #3c0e0e;
  --main-brand-color-600: #431b1b;
  --main-brand-color-hover: #733535;
  --main-brand-color-500: #4d1d1d;
  --main-width: 70%;
  --pink-400: #eb8e8e;
  --pink-200: #f9c4c4;
  --text-sm: 0.875rem;
  --text-md: 1.25rem;
  --text-lg: 1.5rem;
  --text-xl: 2rem;
  --text-2xl: 2.5rem;
  --text-3xl: 5rem;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--main-bg-color);
  overflow-x: hidden;
}

header {
  display: flex;
  width: var(--main-width);
  margin: auto;
  justify-content: space-between;
  height: 10.5rem;
  position: relative;
}

.home-conteiner img {
  position: absolute;
  top: 0;
  z-index: -1;
  right: 6rem;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-left nav {
  display: flex;
  gap: 1rem;
}

.header-left p {
  padding-right: 1rem;
  font-size: var(--text-lg);
  font-weight: 500;
}

.header-left a {
  position: relative;
  color: var(--main-heading-color);
  font-size: var(--text-md);
  font-weight: 500;
  display: block;
  text-decoration: none;
  transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
}

.header-left a::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.1rem;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: var(--main-heading-color);
  transform-origin: right top;
  transform: scale(0, 1);
  transition: color 0.1s, transform 0.2s ease-out;
}

.header-left a::active::before {
  background-color: #000;
}

.header-left a:hover::before,
a:focus::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.button-primary {
  color: white;
  font-size: var(--text-md);
  background-color: var(--main-brand-color-600);
  height: 3rem;
  padding-inline: 2rem;
  border-radius: 1.5rem;
  cursor: pointer;
}

.button-primary:hover {
  background-color: var(--main-brand-color-500);
}

.button-terciary {
  color: var(--main-heading-color);
  font-size: var(--text-md);
  cursor: pointer;
  background-color: transparent;
}

.home-conteiner {
  width: var(--main-width);
  margin: auto;
}

.home-text {
  width: 30%;
}

.home-conteiner div {
  color: var(--main-heading-color);
  display: flex;
  flex-direction: column;
}

.home-conteiner h2 {
  font-size: var(--text-lg);
  font-weight: 700;
}

.home-conteiner h1 {
  font-size: var(--text-3xl);
  font-weight: 700;
  line-height: 5rem;
}

.home-conteiner h3 {
  font-size: 1rem;
  font-weight: 400;
}

.cafes-conteiner {
  display: flex;
  flex-direction: column;
  color: var(--main-heading-color);
  margin-top: 10rem;
  align-items: center;
}

.cafes-conteiner h1 {
  font-size: var(--text-2xl);
  font-weight: 600;
  position: relative;
  display: block;
  text-decoration: none;
  transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
  margin-bottom: 1rem;
}

.cafes-conteiner h1::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0rem;
  left: 20%;
  height: 1px;
  width: 60%;
  background-color: var(--main-heading-color);
  transition: color 0.1s, transform 0.2s ease-out;
}

.cafes-conteiner h3 {
  font-size: 1rem;
  font-weight: 400;
  width: 40%;
  text-align: center;
}

.button-quaternario {
  color: var(--main-heading-color);
  font-size: 1rem;
  font-weight: 600;
  margin-top: 2rem;
  background-color: transparent;
  cursor: pointer;
}

.img-graos {
  display: flex;
  position: absolute;
  z-index: -1;
  width: 100%;
}

.cards-conteiner {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  gap: 1rem;
  height: 29rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 3rem;
  width: 19rem;
  left: 16rem;
  margin-top: 8rem;
  color: white;
  align-items: center;
  justify-content: center;
}

.icon-one {
  background: linear-gradient(203deg, #f6c7c5 4.72%, #c27d7a 102.83%);
}

.card h2 {
  text-align: center;
  font-size: var(--text-md);
  font-weight: 600;
}

.card h1 {
  text-align: center;
  font-size: var(--text-xl);
  font-weight: 600;
  color: white;
}

.card h3 {
  text-align: center;
  font-size: var(--text-sm);
  font-weight: 400;
  color: white;
}

.button-card {
  box-shadow: 0px 8px 7px 0px rgba(0, 0, 0, 0.25);
  border-radius: 1.5625rem;
  width: 15rem;
  background: var(--main-bg-color);
  color: var(--main-text-color-900);
  font-size: var(--text-md);
  padding-inline: var(--text-3xl);
  height: 2.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.icon-two {
  background: linear-gradient(
    203deg,
    rgba(250, 250, 250, 0.95) 4.72%,
    rgba(84, 21, 17, 0.58) 102.83%
  );
}

.icon-three {
  background: linear-gradient(
    203deg,
    rgba(10, 9, 9, 0.95) 4.72%,
    rgba(84, 21, 17, 0.95) 102.83%
  );
}

.card img {
  height: 40%;
}

.croissant {
  display: flex;
  margin-top: 8rem;
}

.croissant-text {
  color: var(--main-brand-color-500);
}

.croissant p {
  border-radius: 3rem;
  color: var(--pink-200);
  text-align: center;
  font-size: var(--text-md);
  font-weight: 600;
  background-color: white;
  width: 20%;
}

.croissant h1 {
  font-size: var(--text-3xl);
  font-weight: 700;
  position: relative;
}

.croissant h1::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 1rem;
  height: 1px;
  width: 9%;
  background-color: var(--main-heading-color);
  transition: color 0.1s, transform 0.2s ease-out;
}

.croissant h2 {
  font-size: var(--text-2xl);
  font-weight: 500;
}

.croissant h3 {
  font-size: 1rem;
  font-weight: 400;
  width: 51%;
}

.croissant button {
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
}

.package {
  width: var(--main-width);
  margin: auto;
}

.embalagens-card {
  display: flex;
  position: relative;
  border-radius: 3rem;
  background: linear-gradient(
    203deg,
    rgba(243, 199, 196, 0.95) 4.72%,
    rgba(84, 21, 17, 0.95) 81.94%
  );
  align-items: center;
  justify-content: end;
  padding-right: 1.5rem;
  height: 21rem;
  margin-top: 9rem;
}

.embalagens-card-img {
  width: 55%;
  position: absolute;
  top: -3rem;
  left: 0;
}

.embalagens-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--main-bg-color);
  align-items: end;
}

.embalagens-text h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

.embalagens-text h3 {
  font-size: 1rem;
  font-weight: 400;
}

.embalagens-text button {
  margin-top: 2rem;
}

.about {
  position: relative;
}

.column-all {
  display: flex;
  width: var(--main-width);
  gap: 2rem;
  color: var(--main-heading-color);
  margin: auto;
  padding-inline: 4rem;
  padding-top: 15rem;
}

.about img {
  position: absolute;
  width: 105%;
}

.about h2 {
  font-size: var(--text-md);
  font-weight: 500;
}

.about h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
}

.about h3 {
  font-size: 1rem;
  font-weight: 700;
}

.about p {
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 2rem;
}

.column-right {
  width: 180%;
}

.column-left {
}
